
{{!-- Recibir el array con los productos --}}

<div class="contenedorProductos">
    {{#each productos}}
        <p> {{this.title}} </p>
        <p> {{this.description}} </p>
        <p> {{this.price}} </p>
    {{/each}}
</div>