<h1>Listado de productos Real time </h1>
<h2>Productos renderizados en tiempo real</h2>

<div id="contenedorProductosRealTime"></div>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/index.js"></script>
